* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  body,
html {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: #777;
  color: #bbb;
  flex-shrink: 0;
  padding: 40px 0;
}

header {
  background-color: #ddd;
  padding: 30px 0;
}

main {
  flex-grow: 1;
  padding: 30px 0;
}

.y-wrap{
    margin: 0 auto;
    width: 90%;
}
button {
    background-color: cornflowerblue;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    padding: 4px 12px;
  }
  
  button:hover {
    background-color: crimson;
  }